.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px 20px;
}

.div200 {
    width: 200px;
    height: 200px;
    background: aliceblue;
}

button {
    position: relative;
    left: calc(50% - 35px);
    margin: 20px 0;
}

.d1 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: orange;
}

.d2 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: pink;
}

.d3 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: skyblue;
}

.d4 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: lightyellow;
}

.d5 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: aquamarine;
}

.d6 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: brown;
    color: #fff;
}

.d7 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: thistle;
}

.d8 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: lemonchiffon;
}

.d9 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: crimson;
}

.d10 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: blue;
    color: white;
}

.d11 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: greenyellow;
    color: white;
}

.d12 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: floralwhite;
    color: white;
}

.d13 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: violet;
    color: white;
}

.d14 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: turquoise;
    color: white;
}

.d15 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: rosybrown;
    color: white;
}

.d16 {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: darkcyan;
    color: white;
}

